@model List<Todo>

<h2>DANH SÁCH CÔNG VIỆC</h2>
<a asp-action="Tao">Tạo mới công việc</a>

<table border="1">
    <tr>
        <th>Mã</th>
        <th>Tên công việc</th>
        <th>Mô tả</th>
        <th>Hoàn thành</th>
        <th>Thao tác</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.TenCongViec</td>
        <td>@item.MoTa</td>
        <td>@item.HoanThanh</td>
        <td>
            <a asp-action="Sua" asp-route-id="@item.Id">Sửa</a> |
            <a asp-action="Chitiet" asp-route-id="@item.Id">Chi tiết</a> |
            <a asp-action="Xoa" asp-route-id="@item.Id">Xóa</a>
        </td>
    </tr>
}
</table>
